{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Acerca de mi!!!</h1>
        <p>
            Velit proident officia mollit dolor sint irure cupidatat excepteur officia deserunt. Voluptate nulla Lorem
            ipsum qui consectetur est laborum tempor aliqua sunt. Cillum deserunt velit laborum aliquip commodo
            pariatur consequat duis commodo adipisicing sunt. Ex velit exercitation esse dolor. Adipisicing fugiat et
            qui sunt sunt do aliquip officia deserunt laboris commodo. Consectetur magna commodo ex excepteur consequat
            in irure occaecat deserunt occaecat.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/fortnite.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}